section {
  text-align: center;
  font-family: sans-serif;
  background-color: #29282e;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  h1 {
    color: #66d9ef;
  }

  span {
    font-size: 18px;
    display: block;
    margin-top: 50px;
    color: #ffff;
  }

  .btns-container {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin: 50px auto;
    justify-content: space-around;
  }

  .copyright {
    color: white;
    position: absolute;
    width: 100%;
    bottom: 30px;

    span {
      display: block;
      width: 100%;
      margin: 10px auto;
      padding: 0;
    }
  }
}
